@import '~@fluentui/react/dist/sass/References.scss';

.scwAdmin {

  :global {
    #workbenchPageContent,
    .CanvasComponent.LCS .CanvasZone {
      max-width: 90% !important;
      font-size: 18px;
    }
  }


  .container {
    margin: 0px;
   
  }

  .wrapper {
    height: 40vh;
    position: relative;
  }
  
}

