@import '~@fluentui/react/dist/sass/References.scss';

.scwAdmin {

  :global {
    #workbenchPageContent,
    .CanvasComponent.LCS .CanvasZone {
      max-width: 90% !important;
      font-size: 18px;
    }
  }


  .container {
    padding:10px;
    margin: 0px auto;
    border: 1px solid lightgrey;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .wrapper {
    height: 40vh;
    position: relative;
  }

}

.formContainer {
  margin-top: 10px!important;
  border-top: 2px solid rgb(117, 116, 116);
  border-bottom: 2px solid #757474;
  padding-bottom: 20px;
  padding-top: 20px;
}

.asteriks {
  color: red;
  font-size: 18px;
  font-weight: bold;
}



:global {
  .ms-Label::after {
    display: none;
  }
}


.cancelIcon {
  color: white;
  background-color: transparent;
  font-size: 20px!important;
  font-weight: bolder!important;
   
}

.cancelIcon:hover{
  background-color: transparent;
  color: white;
  
 
}

.close{
  color: #FF510F;
  background-color: white;
  border: none;
  font-size: 18px;

  &:hover {
      background-color: white;
      color: #FF510F;
      font-weight: bolder;
      border:none; 
  }
}

.horizontalLine {
  border-bottom: 1px solid #605E5C;
  width: 100%;
}

.checkIcon {
  font-size: 20px;
  color: #1da51d;
}
 


